@model Google_Maps_Transport_Project.Models.Bus_details

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bus_details</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.busNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busNumber)
                @Html.ValidationMessageFor(model => model.busNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bStopNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bStopNumber)
                @Html.ValidationMessageFor(model => model.bStopNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.busAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busAddress)
                @Html.ValidationMessageFor(model => model.busAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.busStopLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busStopLocation)
                @Html.ValidationMessageFor(model => model.busStopLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitude)
                @Html.ValidationMessageFor(model => model.latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude)
                @Html.ValidationMessageFor(model => model.longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.heading, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.heading)
                @Html.ValidationMessageFor(model => model.heading)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
